colorama==0.4.6
loguru==0.7.0
numpy==1.25.2
pandas==2.0.3
pytz==2023.3
-e git+https://github.com/rileydrizzy/dogbreeds_dect.git@46e545bdcb6783f21a97fe47bfdb8db76241a136#egg=src
tzdata==2023.3
win32-setctime==1.1.0
